@import '../../../styles/partials/settings.vars';

.webshare {
  display: block;
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.webshare__list {
  border-left: 1px solid $white;
}

.webshare__btn,
.webshare__copy {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  display: block;
  background: transparent;
  width: 30px;
  height: 30px;
}

.webshare__copy {
  transition: $responsiveAnimation;;
  border-radius: $borderRadius;
  border: none;
  background: $white;
  font-size: 0.6em;
  line-height: 1.2em;
  text-transform: uppercase;
  color: $dark;
  padding: 0.25em 0.5em;
  height: auto;
  width: auto;
}

.no-touch .webshare__copy:hover {
  background: $blue;
}

.webshare__svg {
  transition: $responsiveAnimation;;
  margin: 0;
  display: block;
  fill: $white;
}

.no-touch .webshare__svg:hover {
  fill: $blue;
}
