@import '../../styles/partials/settings.vars';
@import '../../styles/partials/tools.mixins';

/* --------------------------------------
 * Button
 * --------------------------------------
 */

$disabledTxtColor: rgba(0, 0, 0, 0.5);
$disabledBg: $gray;

.btn {
  box-sizing: border-box;
  border-radius: $borderRadius;
  position: relative;
  min-height: 35px;
  min-width: 35px;
  font-size: 1rem;
  line-height: 1.2em;
  border: 0;
  background: $blue;
  display: inline-block;
  padding: 0.5em 0.75em;
  color: $dark;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
}

.btn:active::after {
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 0 5px $blue;
  opacity: 0.2;
}

.btn:active {
  box-shadow: inset 0.04em 0.04em 0.1em $innerShadow;
  background: mix($dark, $blue, 3%);
}


/* Other sizes
----------------------------------------- */


.btn--mini {
  font-size: 0.6rem;
  min-height: 17px;
  min-width: 17px;
  padding: 0.35em 0.65em;
  vertical-align: middle;
}

.btn--call-to-action {
  font-size: 1.2rem;
  display: block;
  padding: 1em;
  width: $callToActionItemsWidth;
  @include mobile_size {
    width: 100%;
  }
}

.btn--full {
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: auto;
  display: block;
  border-radius: 0;
}

.btn--load-more {
  font-size: 1.5rem;
  color: $dark;
  padding: 0.4em;
  width: 100%;
  display: block;
  border-width: 0 !important;
}

// Special case. Add 'full 'class thru classNames, not size

.btn--full.btn--load-more {
  font-size: 1em;
}


/* Button w/ icon
----------------------------------------- */

.btn--has-i {
  padding-right: 2.4em;
}

.btn__i {
  fill: $white;
  display: block;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: 1.5em;
}

.btn:active .btn__i {
  fill: mix($dark, $white, 1.5%);
}

.btn--i .btn__i {
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.btn--load-more .btn__i {
  display: inline-block;
  position: relative;
  top: -0.1em;
  left: 0;
  transform: translate3d(0, 0, 0);
  width: 1.5em;
  vertical-align: middle;
}


/* Button hover effect
----------------------------------------- */

.no-touch .btn::after {
  border-radius: $borderRadius;
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  border: 0 solid $blue;
  box-shadow: inset 0 0 0 $white;
}

.no-touch .btn:hover::after {
  border-width: 2px;
  box-shadow: inset 0 0 1em $whiteAlpha;
}

.no-touch .btn:active::after {
  display: none;
}

.no-touch .btn--tertiary.btn--full:hover::after {
  border-width: 0;
}

.no-touch .btn--mini:hover::after {
  border-width: 1px;
}


/* Disabled
----------------------------------------- */

.btn[disabled],
.btn--disabled {
  background: $disabledBg;
  color: $disabledTxtColor;
  pointer-events: none;
}

.btn[disabled] .btn__i,
.btn--disabled .btn__i {
  fill: $disabledTxtColor;
}

//special case

.load-more--ajax .btn--load-more[disabled] {
  background: transparent;
}


/* Other adjustments
----------------------------------------- */

//align left

.btn--al {
  text-align: left;
}

//secondary theme

.btn--secondary {
  background: $blueLight;
}

.no-touch .btn--secondary::after {
  border-color: $blueLight;
}

.btn--secondary:active {
  background: mix($dark, $blueLight, 3%);
}

.btn--secondary .btn__i {
  fill: $blue;
}

.btn--secondary:active .btn__i {
  fill: mix($dark, $blue, 3%);
}

//tertiary theme

.btn--tertiary {
  background: $white;
  border: 1px solid $blue;
}

.btn--tertiary.btn--full {
  border: none;
}

.no-touch .btn--tertiary::after {
  border-color: $white;
}

.btn--tertiary:active {
  background: mix($dark, $white, 3%);
}

.btn--tertiary .btn__i {
  fill: $blue;
}

.btn--tertiary:active .btn__i {
  fill: mix($dark, $blue, 1.5%);
}

.no-touch .btn--tertiary:hover::after {
  box-shadow: inset 0 0 0.5em $blueAlpha;
}


//mint theme

.btn--mint {
  background: $mint;
}

.no-touch .btn--mint::after {
  border-color: $mint;
}

.btn--mint:active {
  background: mix($dark, $mint, 3%);
}
