@import '../../../styles/partials/settings.vars';
@import '../../../styles/partials/tools.mixins';

/* Social Links
----------------------------------------- */

.nav-social {
  display: flex;
  transition: $responsiveAnimation;;
  flex-direction: column;
  @include mobile_size {
    margin-top: 2em;
  }
}

.nav-social__link {
  height: 2.5em;
  width: 2.5em;
  display: block;
}
