@import '../../styles/partials/settings.vars';
@import '../../styles/partials/tools.mixins';

/* Container
--------------------------------- */

.rate {
	width: 40px;
}


/* Button trigger
--------------------------------- */

.rate__trigger,
.rate__btn {
  box-sizing: border-box;
  border: 0;
  background: transparent;
  display: block;
  padding: 0.2em;
}

.rate__trigger {
  position: relative;
  z-index: 1;
}


/* SVG icons
--------------------------------- */

.rate__svg {
  display: block;
  width: 100%;
  margin: 0;
  transition: fill 0.2s ease;
}

/* Rate box
--------------------------------- */

.rate__box {
  box-sizing: border-box;
  position: absolute;
  width: calc(100% + 4px);
  bottom: -1px;
  left: -2px;
  padding-bottom: 100%;
  background: $white;
  border: 2px solid $dark;
  box-shadow: 0.3em 0.3em 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  overflow: hidden;
}


/* Open
----------------------------------- */

.rate--open .rate__trigger .rate__svg  {
  fill: $blue;
}

.rate--open .rate__box {
  opacity: 1;
  pointer-events: auto;
}


/* Spinner
----------------------------------- */

.rate__spinner {
  display: none;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include progress_lines;
}

.rate--ajax .rate__spinner {
  display: block;
}

/* Success
----------------------------------- */
.rate--done .rate__trigger {
	pointer-events: none;
}

.rate--done .rate__trigger::after {
	position: absolute;
	content: attr(result);
	bottom: 0;
	right: 0;
	text-align: center;
  font-size: 1.5em;
	font-weight: bold;
	letter-spacing: -0.05em;
  animation: pump 0.2s ease 0.3s 2 normal;
  text-shadow: -1px -1px 0 #fff,
               -1px 0 0 #fff,
               -1px 1px 0 #fff,
               0 1px 0 #fff,
               0 -1px 0 #fff,
               1px -1px 0 #fff,
               1px 0 0 #fff,
               1px 1px 0 #fff;
}

.rate--done .rate__trigger .rate__svg {
  fill: $blue;
  animation: pump 0.2s ease none 2 normal;
}

@keyframes pump {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.35);
  }
}
