@import '../../styles/partials/settings.vars';
@import '../../styles/partials/tools.mixins';

.webitem {
  box-sizing: border-box;
  transition: $responsiveAnimation;
  background: $white;
  padding: 1em;
  border-bottom: $border;
  width: 100%;
  @include iphone_plus_landscape_size {
    @include cols_settings_2;
  }
  @include laptop_size {
    @include cols_settings_2;
  }
  @include large_screen_size {
    @include cols_settings_3;
  }
}

.webitem--feat {
  @include large_screen_size {
    @include cols_settings_2;
  }
}