.top-menu {
  display: flex;
  justify-content: space-between;
}

.top-menu__btn {
  box-sizing: border-box;
  position: relative;
  display: block;
  padding: 0;
  border: 0;
  width: 3rem;
  height: 3rem;
  background: transparent;
}
