@import '../../../styles/partials/settings.vars';
@import '../../../styles/partials/tools.mixins';

/* Thumb Cover
----------------------------------------- */

.cover {
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: $darkAlpha;
  padding: 0.5em;
  position: absolute;
  color: $white;
  text-transform: uppercase;
}

.no-touch .webitem__preview:hover .cover {
  left: 0;
}


/* Timestamp
----------------------------------------- */

.cover__date {
  background: $dark;
  padding: 1em;
  font-size: 0.5em;
}

.cover__date__timestamp {
  display: block;
  font-weight: bold;
  font-size: 2em;
  margin-top: 0.1em;
}
